<style>
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;}
.footer .footer-left {
    margin-left:50px;
}
.footer .footer-left p{
	color: #8f9296;
	font-size:20px;
    float:left;
}
.footer p.footer-links {
	font-size:18px;
	font-weight:bold;
	color: #a29d99;
	margin: 0 0 10px;
	padding: 0;
    float:left;
}

.footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration:none;
	color:	inherit;
}
.footer .footer-right {
    float: right;
}
}
    * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.roboto {
  font-family: "Roboto";
  font-weight: 300;
}
.roboto-bold {
  font-family: "Roboto";
  font-weight: 700;
}

.newsletter {
  position: relative;
  max-width: 580px;
}

.newsletter-input {
  vertical-align: top;
  width: 280px;
  outline: 0;
  margin: 0;
  padding: 5px 0 5px 5px;
  border: 1px solid transparent;
  .roboto;
  font-size: 20px;
  line-height: 32px;

  -webkit-transition: border-color 0.2s ease,
                      color 0.2s ease,
                      padding-left 0.2s ease;
  transition: border-color 0.2s ease,
              color 0.2s ease,
              padding-left 0.2s ease;
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
  }

  &:hover,
  &:focus {
    padding-left: 22px;
    border: 1px solid #ccc;
    color: #333;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color:    #555;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #555;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #555;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #555;
    }
  }
  &:focus {
    border-color: #999;
  }
}
.newsletter-send {
  vertical-align: top;
  -webkit-appearance: none;
  border: 0;
  margin: 0 0 0 24px;
  padding: 0 26px;
  .roboto-bold;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  color: white;
  background: #0a0a0a;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.newsletter-input:focus + .newsletter-send,
.newsletter-input:hover + .newsletter-send,
/* this last one doesn't actually work - inputs have not "content" */
.newsletter-input:not(:empty) + .newsletter-send {
  opacity: 1;
}



</style>
<footer class="footer">
    <p>Team2</p>
    <div class="footer-left" style="position: absolute; top: 35px; left: 25px; width: 500px; height: 25px">
    <p class="footer-links">
    <a href="#">Home</a>
    |
    <a href="#">Find Loans</a>
    |
    <a href="index.html">Calculator</a>
    |
    <a href="#">Tips</a>
    |
    <a href="#">About</a>

</p>
        <div style="position: absolute; top: 25px; left: 25px; width: 200px; height: 25px"><p >&copy; Loan Helper 2017</p></div>
</div>
    <div class="footer-right">
    <div class="newsletter">
    <input type="text" placeholder="Newsletter signup" class="newsletter-input" />
    <input class="newsletter-send" type="submit" value="Send">
    </div>
    </div>
</footer>
